@import '../common/styles/base';

.a-scrollbar {
    &__thumb-vertical {
        border-radius: $scrollbar-thumb-border-radius;
        background-color: $scrollbar-thumb-vertical-bg;

        &:hover {
            cursor: pointer;
        }
    }
}

.a-overlay_blur_on {
    .a-scrollbar__container {
        margin-right: 0 !important;
        overflow: hidden !important;
    }
}
