@import '../common/styles/base';

.a-loader {
    display: block;

    width: $loader-size;
    height: $loader-size;

    text-indent: -9999px;

    background-image: url($loader-icon-path);
    background-size: $loader-size $loader-size;
}
