@import '../common/styles/base';

.a-tabs {
    display: flex;
    flex-shrink: 0;

    width: $tabs-width;
    height: $tabs-height;

    background-color: $tabs-bg;

    font-family: $font-secondary;

    &__item {
        display: flex;
        align-items: center;

        margin: 0 $tabs-item-horizontal-margin;

        border-bottom: $tabs-item-border-height solid transparent;

        &_selected {
            color: $tabs-item-selected-text-color;
            border-color: $tabs-item-selected-border-bg;

            font-weight: bold;

            // Use cascade because it is more rational
            .a-tabs__item-counter {
                color: $tabs-item-selected-counter-text-color;
                background-color: $tabs-item-selected-counter-bg;
            }

            .a-tabs__item-title {
                color: $tabs-item-selected-text-color;
            }
        }

        &:hover,
        &:focus {
            cursor: pointer;
        }
    }

    &__item-counter {
        display: flex;

        margin-left: 10px;
        padding: $tabs-item-counter-padding;

        text-align: center;

        color: $tabs-item-counter-text-color;
        border-radius: $tabs-item-counter-border-radius;
        background-color: $tabs-item-counter-bg;

        font-size: $tabs-item-counter-text-size;
        font-weight: 500;
    }

    &__item-title {
        color: $tabs-item-color;

        font-size: $tabs-item-title-text-size;
        font-weight: 500;
    }
}
