@font-face {
  font-family: "Vip Icons";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/vip-icons/vip-icons.woff2") format("woff2"), url("/assets/fonts/vip-icons/vip-icons.woff") format("woff"), url("/assets/fonts/vip-icons/vip-icons.ttf") format("truetype"); }

@font-face {
  font-family: "Rubik Medium";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/rubik-medium/rubik-medium.woff2") format("woff2"), url("/assets/fonts/rubik-medium/rubik-medium.woff") format("woff"), url("/assets/fonts/rubik-medium/rubik-medium.ttf") format("truetype"); }

@font-face {
  font-family: "Rubik Regular";
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/rubik-regular/rubik-regular.woff2") format("woff2"), url("/assets/fonts/rubik-regular/rubik-regular.woff") format("woff"), url("/assets/fonts/rubik-regular/rubik-regular.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*:active,
*:focus,
*:hover {
  outline: 0; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400; }

ol,
ul {
  list-style: none; }

img {
  border: 0; }

a {
  background: transparent; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

input,
textarea {
  resize: none;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

.a-btn {
  display: flex;
  display: -webkit-box;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 32px;
  margin: 24px auto 0 auto;
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  background-color: #1f73d0;
  transition: 0.1s linear; }
  .a-btn:hover {
    background-color: #1059aa; }
  .a-btn_mode_disabled {
    background-color: rgba(58, 66, 80, 0.72);
    color: #535e76; }
    .a-btn_mode_disabled:hover {
      background-color: rgba(58, 66, 80, 0.72);
      cursor: default; }
  .a-btn_mode_busy .a-btn__loader {
    opacity: 1;
    height: 16px;
    width: 16px;
    transition: opacity 0.1s linear; }
  .a-btn_mode_busy .a-btn__title {
    display: none; }
  .a-btn__loader {
    height: 0;
    width: 0;
    margin: 0 auto;
    background-image: url("/assets/icons/btn-loader.svg");
    background-size: cover;
    opacity: 0; }
  .a-btn__title {
    display: block; }

.a-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  transition: all 0.1s linear;
  color: transparent;
  border: 1px solid #788699;
  border-radius: 2px;
  font-size: 13px; }
  .a-checkbox_selected {
    color: #fff;
    border-color: #57ad65;
    background-color: rgba(85, 206, 99, 0.2); }

.a-collapse-group {
  background-color: #323744; }
  .a-collapse-group__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 11px;
    height: 44px; }
  .a-collapse-group__header-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    width: 22px;
    height: 22px;
    color: #fff;
    border-radius: 19px;
    background-color: #4d5868;
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-size: .6875em;
    font-weight: 500; }
  .a-collapse-group__header-title {
    letter-spacing: .1px;
    text-transform: uppercase;
    color: #bac9db;
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-size: .75em;
    font-weight: 500; }
  .a-collapse-group__header-btn-expand {
    margin-right: 5px;
    margin-left: auto;
    transition: all 0.1s linear;
    transform: rotate(0);
    color: #bac9db;
    font-size: 12px; }
    .a-collapse-group__header-btn-expand:hover {
      cursor: pointer; }
    .a-collapse-group__header-btn-expand_active {
      transform: rotate(180deg); }
  .a-collapse-group__content {
    height: 252px; }

.a-content {
  display: flex;
  flex-direction: column;
  margin: 0 11px;
  width: calc(100% - 235px - 329px);
  min-height: 100%; }
  @media (min-width: 1400px) {
    .a-content {
      width: calc(100% - 264px - 329px); } }
  @media (min-width: 1680px) {
    .a-content {
      width: calc(100% - 264px - 440px); } }

.a-dropdown-twin-select {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 30px;
  letter-spacing: -0.2px;
  border-radius: 3px;
  background-color: #3a4250;
  font-size: 0.75em; }
  .a-dropdown-twin-select:hover {
    cursor: pointer; }
  .a-dropdown-twin-select__btn-open {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 20px;
    height: 100%;
    color: #bac9db;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: rgba(120, 134, 153, 0.72);
    font-size: 9px; }
    .a-dropdown-twin-select__btn-open .a-vip-icon {
      transition: all 0.1s linear;
      transform: rotate(0); }
    .a-dropdown-twin-select__btn-open_active .a-vip-icon {
      transform: rotate(180deg); }
  .a-dropdown-twin-select__current-option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%; }
  .a-dropdown-twin-select__option {
    padding-right: 16px; }
  .a-dropdown-twin-select__options {
    position: absolute;
    z-index: 1;
    top: 34px;
    left: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    transition: max-height 0.1s linear;
    border-radius: 3px;
    background: #4c596c; }
    .a-dropdown-twin-select__options_opened {
      max-height: 200px; }
  .a-dropdown-twin-select__option {
    display: flex;
    align-items: center;
    height: 30px; }
    .a-dropdown-twin-select__option:hover, .a-dropdown-twin-select__option_selected {
      background-color: rgba(56, 63, 77, 0.48); }
  .a-dropdown-twin-select__title {
    margin-left: 8px;
    color: #bac9db; }
    @media (min-width: 1400px) {
      .a-dropdown-twin-select__title {
        margin-left: 11px; } }
  .a-dropdown-twin-select__value {
    margin-right: 8px;
    margin-left: auto;
    color: #2cb0ff; }
    @media (min-width: 1400px) {
      .a-dropdown-twin-select__value {
        margin-right: 11px; } }
  .a-dropdown-twin-select_type_no-line {
    pointer-events: none; }
    .a-dropdown-twin-select_type_no-line:hover {
      cursor: default; }
    .a-dropdown-twin-select_type_no-line .a-dropdown-twin-select__title {
      position: absolute;
      left: 50%;
      margin-left: 0;
      transform: translateX(-50%);
      letter-spacing: 0.4px;
      color: rgba(120, 134, 153, 0.9);
      font-family: "Rubik Medium", Verdana, sans-serif;
      font-size: 9px;
      font-weight: 500; }
    .a-dropdown-twin-select_type_no-line .a-dropdown-twin-select__btn-open {
      color: #717e91;
      background-color: #3a4250; }

.a-league-event {
  display: flex;
  margin: 2px 0;
  padding: 4px 0 4px 34px;
  transition: all 0.1s linear;
  color: #8894a5; }
  .a-league-event:hover, .a-league-event_selected {
    cursor: pointer;
    color: #fff;
    background-color: #323744; }
    .a-league-event:hover .a-checkbox, .a-league-event_selected .a-checkbox {
      color: #fff; }
  .a-league-event__title {
    margin-left: 10px;
    font-family: "Rubik Regular", Verdana, sans-serif;
    font-size: 0.75em; }
  .a-league-event__checkbox {
    display: flex;
    align-items: center; }

.a-event {
  display: flex;
  flex-direction: row;
  margin-top: 1px;
  padding: 16px 8px 16px 0; }
  @media (min-width: 1680px) {
    .a-event {
      padding-right: 10px;
      padding-left: 10px; } }
  .a-event:nth-of-type(odd) {
    background-color: #282c37; }
  .a-event:nth-of-type(even) {
    background-color: #2d323f; }
  .a-event_blur_on:nth-of-type(even) {
    background-color: #282c37; }
  .a-event_blur_on .a-event__time-value {
    border-color: #2d323f;
    background-color: #2d323f; }
  .a-event_blur_on .a-event-market__outcome-value {
    background-color: #2d323f; }
  .a-event_blur_on .a-event-market__individual-total {
    border-color: #2d323f; }
    .a-event_blur_on .a-event-market__individual-total:hover {
      border-color: #2d323f; }
  .a-event_blur_on .a-event-market__outcome-subtitle {
    top: -8px; }
  .a-event_blur_on .a-dropdown-twin-select {
    background-color: #2d323f; }
  .a-event__id {
    color: #788699; }
  .a-event__time {
    color: #dfe2e6; }
  .a-event__actions {
    min-width: 85px;
    border-left: 1px solid transparent; }
  .a-event__outcomes {
    margin-right: 5px;
    margin-left: auto;
    color: #fff;
    font-family: "Rubik Medium", Verdana, sans-serif; }
    @media (min-width: 1400px) {
      .a-event__outcomes {
        margin-right: 8px; } }
    @media (min-width: 1680px) {
      .a-event__outcomes {
        margin-right: 0;
        font-size: 0.875em; } }
    .a-event__outcomes .a-event__empty-line {
      min-width: 80px; }
      .a-event__outcomes .a-event__empty-line_num_2 {
        min-width: 60px; }
  .a-event__outcomes-title {
    display: flex;
    justify-content: flex-end;
    height: 21px;
    color: #788699;
    font-family: "Rubik Regular", Verdana, sans-serif;
    font-size: 0.6875em; }
    .a-event__outcomes-title .a-event__empty-line {
      min-width: 47%; }
  .a-event__outcomes-item {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 12px;
    padding: 0;
    height: 30px;
    text-align: right;
    font-size: 0.8125em; }
    @media (min-width: 1680px) {
      .a-event__outcomes-item {
        font-size: 0.875em; } }
    .a-event__outcomes-item_state_warning {
      color: #ffbc35; }
  .a-event__actions-title {
    display: flex;
    justify-content: center;
    height: 21px;
    color: #788699;
    font-family: "Rubik Regular", Verdana, sans-serif;
    font-size: 0.6875em; }
    .a-event__actions-title .a-event__empty-line {
      min-width: 47%; }
  .a-event__actions-line {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 12px;
    padding: 0 8px;
    height: 30px; }
    @media (min-width: 1680px) {
      .a-event__actions-line {
        padding: 0 12.5px; } }
    .a-event__actions-line_type_icons {
      flex-direction: row;
      height: 45px;
      font-size: 20px; }
    .a-event__actions-line_type_time {
      flex-direction: row;
      margin-top: 5px;
      height: 20px; }
  .a-event__time-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
    color: #bac9db;
    border: 1px solid #4b5b73;
    border-radius: 3px;
    font-size: 0.6875em; }
    .a-event__time-value:hover {
      cursor: pointer; }
    .a-event__time-value_active {
      border-color: rgba(44, 176, 255, 0.7);
      background-color: rgba(30, 123, 226, 0.2); }
    .a-event__time-value_type_extra {
      position: relative; }
  .a-event__empty-line {
    min-width: 10px;
    height: 4px;
    border-radius: 14px;
    background-color: #2d323f; }
    .a-event__empty-line_size_big {
      height: 6px; }

.a-event-market {
  border-left: 1px solid transparent; }
  .a-event-market_type_ml, .a-event-market_type_dc, .a-event-market_type_bts {
    width: 56px; }
    @media (min-width: 1400px) {
      .a-event-market_type_ml, .a-event-market_type_dc, .a-event-market_type_bts {
        width: 62px; } }
    @media (min-width: 1680px) {
      .a-event-market_type_ml, .a-event-market_type_dc, .a-event-market_type_bts {
        width: 90px; } }
  @media (min-width: 1680px) {
    .a-event-market_type_ml {
      padding-left: 14px; } }
  .a-event-market_type_handicap, .a-event-market_type_totals {
    width: 145px; }
    @media (min-width: 1400px) {
      .a-event-market_type_handicap, .a-event-market_type_totals {
        width: 20%; } }
    @media (min-width: 1680px) {
      .a-event-market_type_handicap, .a-event-market_type_totals {
        width: 215px; } }
  .a-event-market_type_dc, .a-event-market_type_bts, .a-event-market_type_handicap, .a-event-market_type_totals {
    border-color: #181c23; }
  @media (min-width: 1680px) {
    .a-event-market_type_dc .a-event-market__title, .a-event-market_type_bts .a-event-market__title {
      margin-left: 12px; } }
  .a-event-market__title {
    display: flex;
    justify-content: center;
    height: 21px;
    color: #788699;
    font-family: "Rubik Regular", Verdana, sans-serif;
    font-size: 12px; }
    .a-event-market__title .a-event-market__empty-line {
      min-width: 47%; }
  .a-event-market__line {
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 12px;
    padding: 0 8px;
    height: 30px; }
    @media (min-width: 1400px) {
      .a-event-market__line {
        padding: 0 11px; } }
    @media (min-width: 1680px) {
      .a-event-market__line {
        padding: 0 12.5px; } }
    .a-event-market__line_content-pos_right {
      justify-content: flex-end;
      text-align: right; }
    .a-event-market__line_content-pos_left {
      justify-content: flex-start; }
    .a-event-market__line_type_icons {
      flex-direction: row;
      height: 45px;
      font-size: 20px; }
  .a-event-market__individual-total {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    width: 33px;
    height: 30px;
    transition: all 0.1s linear;
    color: #bac9db;
    border: 1px solid #4b5b73;
    border-radius: 2px;
    font-size: 0.75em; }
    @media (min-width: 1680px) {
      .a-event-market__individual-total {
        width: 40px; } }
    .a-event-market__individual-total:hover, .a-event-market__individual-total_selected {
      cursor: pointer;
      -moz-user-select: none;
      user-select: none;
      color: #2cb0ff;
      border-color: #2cb0ff; }
  .a-event-market__outcome-value {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    width: 40px;
    height: 30px;
    text-transform: uppercase;
    color: #2cb0ff;
    border-radius: 3px;
    background-color: #3a4250;
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-size: 0.75em; }
    @media (min-width: 1680px) {
      .a-event-market__outcome-value {
        width: 48px; } }
    .a-event-market__outcome-value:hover {
      cursor: pointer; }
    .a-event-market__outcome-value_type_no-line {
      text-transform: uppercase;
      pointer-events: none;
      color: rgba(120, 134, 153, 0.9);
      font-size: 0.5625em;
      font-weight: 500; }
      .a-event-market__outcome-value_type_no-line:hover {
        cursor: default; }
  .a-event-market__outcome-subtitle {
    position: absolute;
    top: -10.5px;
    left: 50%;
    display: flex;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: 0.5em; }
    @media (min-width: 1680px) {
      .a-event-market__outcome-subtitle {
        position: static;
        margin-right: 6px;
        transform: none;
        font-size: 0.6em; } }
  .a-event-market__empty-line {
    min-width: 10px;
    height: 4px;
    border-radius: 14px;
    background-color: #2d323f; }
    .a-event-market__empty-line_size_big {
      height: 6px; }

.a-events {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 44px - 44px); }

.a-league {
  display: flex;
  flex-direction: column; }
  .a-league__header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    width: 100%;
    height: 44px;
    transition: all 0.1s linear; }
    .a-league__header:hover {
      cursor: pointer; }
      .a-league__header:hover .a-checkbox {
        color: #fff; }
    .a-league__header:after {
      position: absolute;
      right: 0;
      bottom: 0;
      width: calc(100% - 34px);
      height: 1px;
      content: ' ';
      background-color: #788699; }
  .a-league__title {
    margin-left: 10px;
    color: #fcfcfc;
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-size: 0.8125em;
    font-weight: 500; }
  .a-league__btn-expand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    transition: all 0.1s linear;
    color: #bac9db;
    font-size: 11px; }
    .a-league__btn-expand_active {
      transform: rotate(180deg); }
  .a-league__events {
    overflow: hidden;
    margin-top: 8px;
    max-height: 0;
    transition: max-height 0.2s ease-out; }
    .a-league__events_expanded {
      max-height: 1000px; }

.a-loader {
  display: block;
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  background-image: url("/assets/icons/loader.svg");
  background-size: 36px 36px; }

.a-login-form {
  display: flex;
  flex-direction: column;
  width: 340px; }
  .a-login-form__heading {
    color: #fff;
    text-align: center;
    font-size: 1.75em;
    letter-spacing: .6px;
    margin-bottom: 40px; }
  .a-login-form__description {
    color: #8894a5;
    font-size: 14px;
    text-align: center;
    letter-spacing: .3px;
    margin-bottom: 30px;
    opacity: .9; }
  .a-login-form__input {
    border: 0;
    font-size: 14px;
    letter-spacing: .2px;
    margin: 10px 0;
    padding-left: 15.7px;
    padding-right: 15.7px;
    height: 32px;
    border-radius: 4px;
    background-color: #3a4250;
    color: #fff; }
    .a-login-form__input::placeholder {
      font-size: 14px;
      letter-spacing: .2px;
      color: #7d899a; }
  .a-login-form__remember-me {
    display: flex;
    align-content: center;
    margin-top: 32px;
    height: 28px;
    width: 100%;
    border-bottom: 1px solid #3a4250; }
  .a-login-form__remember-me-title {
    font-size: 14px;
    opacity: .9;
    letter-spacing: .4px;
    color: #8894a5; }
  .a-login-form__remember-me-switcher {
    margin-left: auto; }
  .a-login-form__alert {
    background-color: #c92d3c;
    padding: 0;
    letter-spacing: .3px;
    margin-top: 16px;
    text-align: center;
    line-height: 1.62;
    color: #ffffff;
    font-size: 13px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.1s linear; }
    .a-login-form__alert_showed {
      height: auto;
      opacity: 1;
      padding: 6px 33px; }
  .a-login-form__btn-submit {
    margin: 24px auto 0 auto; }

.a-menu {
  display: flex;
  align-items: center;
  margin: 0 11px;
  width: calc(100% - 235px - 329px); }
  @media (min-width: 1400px) {
    .a-menu {
      width: calc(100% - 264px - 329px); } }
  @media (min-width: 1680px) {
    .a-menu {
      width: calc(100% - 264px - 440px); } }
  .a-menu__item {
    align-items: center;
    margin-right: 22px;
    transition: all 0.1s linear;
    text-decoration: none;
    color: #8894a5;
    font-size: 0.9375em; }
    .a-menu__item:hover {
      color: #fff; }
    .a-menu__item_selected {
      color: #fff; }
    .a-menu__item_pos_right {
      margin-left: auto; }

.a-modal {
  position: relative;
  z-index: -1;
  transition: opacity 0.1s linear;
  font-family: "Rubik Regular", Verdana, sans-serif; }
  .a-modal_showed {
    z-index: 1;
    display: block;
    opacity: 1; }
  .a-modal_mode_fast-deal-bet .a-modal__window_type_fast-deal-bet {
    width: auto;
    height: auto;
    opacity: 1; }
  .a-modal_mode_fast-deal-confirm .a-modal__window_type_fast-deal-confirm {
    width: auto;
    height: auto;
    opacity: 1; }
  .a-modal_mode_notification .a-modal__window_type_notification {
    width: auto;
    height: auto;
    opacity: 1; }
  .a-modal_mode_loader .a-modal__loader {
    display: block; }
  .a-modal__overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(24, 28, 34, 0.6); }
  .a-modal__loader {
    display: none;
    width: 36px;
    height: 36px; }
  .a-modal__window {
    display: flex;
    overflow: hidden;
    width: 0;
    height: 0;
    transition: all 0.1s linear;
    opacity: 0;
    border-radius: 6px;
    background: #fff; }

.a-modal-notification {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 34.5px;
  width: 500px;
  min-height: 295px;
  border-radius: inherit;
  background-color: #f2f4f8; }
  .a-modal-notification__icon {
    color: #db2a2b;
    font-size: 48px; }
  .a-modal-notification__title {
    margin: 14px 0;
    color: #1f232d;
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-size: 1.25em; }
  .a-modal-notification__message {
    padding: 0 10px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #5c6c80;
    font-size: 0.875em;
    line-height: 1.625em; }
  .a-modal-notification__btn-close {
    position: absolute;
    top: -18px;
    right: -18px;
    color: #fff;
    font-size: 12px; }
    .a-modal-notification__btn-close:hover {
      cursor: pointer; }
  .a-modal-notification__btn-action {
    display: flex;
    align-items: center;
    margin-top: 36px;
    padding: 0 26px;
    height: 36px;
    -webkit-user-select: none;
    color: #fff;
    border-radius: 3px;
    background-color: #1e7be2;
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-size: 0.875em;
    font-weight: 500; }
    .a-modal-notification__btn-action:hover {
      cursor: pointer; }

.a-modal-deal {
  display: flex;
  width: 736px;
  border-radius: inherit;
  background-color: #f2f4f8; }
  .a-modal-deal__sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 16px 24px;
    width: 279px;
    min-height: 100%;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
    background-color: #fff; }
  .a-modal-deal__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%; }
  .a-modal-deal__team {
    display: flex;
    align-items: center;
    height: 32px;
    letter-spacing: 0.3px;
    color: #1f232d;
    font-family: "Rubik Medium", Verdana, sans-serif; }
  .a-modal-deal__table {
    width: 100%; }
  .a-modal-deal__table-head {
    width: 100%;
    height: 32px;
    letter-spacing: 0.4px;
    opacity: 0.6;
    color: #56677b;
    background-color: #e6eaf1;
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-size: 0.6875em;
    font-weight: 500; }
  .a-modal-deal__table-head-item {
    height: 32px; }
  .a-modal-deal__table-body-row {
    position: relative; }
  .a-modal-deal__table-body-item {
    position: relative;
    padding: 0 20px;
    height: 32px;
    font-family: "Rubik Medium", Verdana, sans-serif;
    line-height: 40px; }
    .a-modal-deal__table-body-item:first-of-type {
      padding-left: 24px; }
    .a-modal-deal__table-body-item:last-of-type {
      padding-right: 24px; }
    .a-modal-deal__table-body-item_text-pos_center {
      text-align: center; }
  .a-modal-deal__input {
    position: relative;
    width: 100px; }
    .a-modal-deal__input_pos_right {
      float: right; }
  .a-modal-deal__input-form {
    padding-right: 25px;
    width: 100px;
    height: 32px;
    text-align: right;
    letter-spacing: -0.2px;
    border: 1px solid rgba(197, 205, 218, 0.7);
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: "Rubik Regular", Verdana, sans-serif;
    font-size: 0.875em; }
  .a-modal-deal__input-btn-clear {
    position: absolute;
    top: 15px;
    right: 8px;
    opacity: 0.6;
    color: #90a3ae;
    font-size: 11px; }
    .a-modal-deal__input-btn-clear:hover {
      cursor: pointer; }
  .a-modal-deal__event {
    position: absolute;
    top: 13px;
    width: 400px;
    letter-spacing: -0.1px;
    color: #5c6c80;
    font-family: "Rubik Regular", Verdana, sans-serif;
    font-size: 0.75em;
    line-height: 25px; }
  .a-modal-deal__sidebar-row {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    width: 100%;
    border-top: 1px solid #d8dde7; }
    .a-modal-deal__sidebar-row_type_header {
      flex-direction: row;
      padding-top: 0;
      border-top: 0; }
  .a-modal-deal__menu {
    display: flex;
    height: 44px; }
  .a-modal-deal__menu-item {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 100%;
    letter-spacing: -0.2px;
    color: #1f232d;
    border-right: 2px solid #e6eaf1;
    font-size: 0.875em; }
    .a-modal-deal__menu-item:last-of-type {
      border-right: 0; }
    .a-modal-deal__menu-item_disabled {
      color: rgba(86, 103, 123, 0.2); }
    .a-modal-deal__menu-item_selected {
      color: #fff;
      background-color: #5c6c80; }
  .a-modal-deal__league {
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-weight: 500; }
  .a-modal-deal__league-name {
    margin-top: 5px;
    letter-spacing: 0.2px;
    color: #181c23;
    font-size: 0.9375em; }
  .a-modal-deal__league-country {
    margin-top: 6px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    opacity: 0.7;
    color: #56677b;
    font-size: 0.625em; }
  .a-modal-deal__date {
    color: #181c23;
    font-size: 0.8125em; }
  .a-modal-deal__start-time {
    margin: 5px 0;
    color: #388c46;
    font-size: 0.75em; }
  .a-modal-deal__icon {
    margin-left: auto;
    opacity: 0.3;
    color: #56677b;
    font-size: 26px; }
  .a-modal-deal__clear {
    width: 100%;
    height: 32px; }
  .a-modal-deal__add-ons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 0 24px;
    width: 100%;
    height: 32px; }
  .a-modal-deal__buttons {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    padding: 0 24px;
    width: 100%;
    height: 32px; }
  .a-modal-deal__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 32px;
    color: #56677b;
    border: 1px solid rgba(86, 103, 123, 0.6);
    border-radius: 3px;
    font-size: 0.875em; }
    .a-modal-deal__btn:hover {
      cursor: pointer; }
    .a-modal-deal__btn_pos_right {
      margin-left: auto; }
    .a-modal-deal__btn_type_fill {
      color: #fff;
      border-color: #1e7be2;
      background-color: #1e7be2; }
  .a-modal-deal__btn-add-on {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    margin: 0 3px;
    height: 100%;
    -moz-user-select: none;
    user-select: none;
    color: #56677b;
    border: 1px solid #c5cdda;
    border-radius: 3px;
    font-size: 0.8125em; }
    .a-modal-deal__btn-add-on:first-of-type {
      margin-left: 0; }
    .a-modal-deal__btn-add-on:last-of-type {
      margin-right: 0; }
    .a-modal-deal__btn-add-on:hover {
      cursor: pointer;
      transition: all 0.1s linear; }
    .a-modal-deal__btn-add-on:hover, .a-modal-deal__btn-add-on_selected {
      color: #1e7be2;
      border-color: #1e7be2; }

.a-navbar {
  display: flex;
  width: 100%;
  height: 44px; }
  .a-navbar__left-side {
    flex-shrink: 0;
    width: 235px; }
    @media (min-width: 1400px) {
      .a-navbar__left-side {
        width: 264px; } }
  .a-navbar__right-side {
    flex-shrink: 0;
    width: 329px; }
    @media (min-width: 1680px) {
      .a-navbar__right-side {
        width: 440px; } }
  .a-navbar__btn-logout {
    margin-left: auto;
    margin-right: 2px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8894a5;
    font-size: 24px; }
    .a-navbar__btn-logout:hover {
      cursor: pointer; }

.a-notification {
  position: fixed;
  z-index: 2;
  bottom: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
  opacity: 0.9;
  font-size: 0.75em;
  transition: 0.1s linear; }
  .a-notification_hidden {
    height: 0;
    bottom: -28px; }
  .a-notification__bar {
    display: flex;
    align-items: center;
    margin: 0 18px 0 20px;
    padding: 0 12px;
    width: calc(100% - 235px - 329px);
    height: 28px; }
    @media (min-width: 1400px) {
      .a-notification__bar {
        width: calc(100% - 264px - 329px); } }
    @media (min-width: 1680px) {
      .a-notification__bar {
        width: calc(100% - 264px - 440px); } }
    .a-notification__bar_mode_info {
      background-color: rgba(30, 123, 226, 0.92); }
    .a-notification__bar_mode_danger {
      background-color: #b22223; }
    .a-notification__bar_mode_success {
      background-color: #57ad65; }
  .a-notification__left-side {
    width: 235px;
    height: 28px; }
    @media (min-width: 1400px) {
      .a-notification__left-side {
        width: 264px; } }
    @media (min-width: 1680px) {
      .a-notification__left-side {
        width: 264px; } }
  .a-notification__right-side {
    width: 329px;
    height: 28px; }
    @media (min-width: 1400px) {
      .a-notification__right-side {
        width: 329px; } }
    @media (min-width: 1680px) {
      .a-notification__right-side {
        width: 440px; } }
  .a-notification__title {
    color: #fff;
    font-family: "Rubik Medium", Verdana, sans-serif; }
  .a-notification__message {
    margin: 0 6px;
    color: #fff;
    font-weight: 500; }
  .a-notification__btn-close {
    margin-left: auto;
    color: #fff; }
    .a-notification__btn-close:hover {
      cursor: pointer; }

.a-overlay_blur_on {
  filter: blur(3px); }

.a-overlay_mode_login-form {
  background-color: #282c37;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center; }

.a-page {
  height: 100%;
  min-height: 100vh;
  background-color: #181c23;
  font-family: "Rubik Regular", Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .a-page__container {
    display: flex; }

.a-scrollbar__thumb-vertical {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1); }
  .a-scrollbar__thumb-vertical:hover {
    cursor: pointer; }

.a-overlay_blur_on .a-scrollbar__container {
  margin-right: 0 !important;
  overflow: hidden !important; }

.a-sidebar-left {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 235px;
  min-height: 100%;
  background-color: #1f232d; }
  @media (min-width: 1400px) {
    .a-sidebar-left {
      width: 264px; } }
  .a-sidebar-left__leagues {
    height: calc(100vh - 44px - 88px); }

.a-sidebar-right {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 329px;
  min-height: 100%;
  background-color: #1f232d; }
  @media (min-width: 1680px) {
    .a-sidebar-right {
      width: 440px; } }

.a-sport-switcher {
  height: 88px;
  background-color: #282c37; }
  .a-sport-switcher__items {
    height: 44px;
    background-color: #282c37; }
  .a-sport-switcher__selected-item {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 10px;
    height: 44px;
    text-transform: uppercase;
    color: #fff;
    background-color: #3C4553;
    font-family: "Rubik Medium", Verdana, sans-serif;
    font-size: 0.8125em;
    font-weight: 500; }
  .a-sport-switcher__btn-expand {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    margin-left: auto;
    width: 30px;
    height: 30px;
    transition: all 0.1s linear;
    color: #bac9db;
    font-size: 11px; }
    .a-sport-switcher__btn-expand:hover {
      cursor: pointer; }
    .a-sport-switcher__btn-expand_active {
      transform: rotate(180deg); }

.a-switcher {
  position: relative;
  width: 30px;
  height: 14px;
  background-color: #373d4c;
  border-radius: 2px; }
  .a-switcher:hover {
    cursor: pointer; }
    .a-switcher:hover .a-switcher__handle {
      background-color: #788699; }
  .a-switcher_mode_on .a-switcher__handle {
    background-color: #55ce63;
    border-radius: 2px;
    left: calc(100% - 15px); }
  .a-switcher_mode_on:hover .a-switcher__handle {
    background-color: #459a52; }
  .a-switcher__handle {
    width: 15px;
    border-radius: 2px;
    height: inherit;
    left: 0;
    background-color: #515e72;
    transition: 0.1s linear;
    position: absolute; }

.a-tabs {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 44px;
  background-color: #3C4553;
  font-family: "Rubik Medium", Verdana, sans-serif; }
  .a-tabs__item {
    display: flex;
    align-items: center;
    margin: 0 12px;
    border-bottom: 2px solid transparent; }
    .a-tabs__item_selected {
      color: #fff;
      border-color: #1e7be2;
      font-weight: bold; }
      .a-tabs__item_selected .a-tabs__item-counter {
        color: #fff;
        background-color: #1e7be2; }
      .a-tabs__item_selected .a-tabs__item-title {
        color: #fff; }
    .a-tabs__item:hover, .a-tabs__item:focus {
      cursor: pointer; }
  .a-tabs__item-counter {
    display: flex;
    margin-left: 10px;
    padding: 1px 8px;
    text-align: center;
    color: #c2d1e3;
    border-radius: 19px;
    background-color: rgba(146, 167, 192, 0.2);
    font-size: 0.6875em;
    font-weight: 500; }
  .a-tabs__item-title {
    color: #bac9db;
    font-size: 0.8125em;
    font-weight: 500; }

.a-tickets {
  display: flex;
  flex-direction: column; }
  .a-tickets__ticket {
    margin: 4px;
    padding: 8px;
    border: 1px solid rgba(186, 201, 219, 0.2);
    border-radius: 4px;
    background-color: #3c4250; }
  .a-tickets__ticket-actions {
    display: flex;
    margin-left: auto;
    color: #778793; }
    .a-tickets__ticket-actions .a-vip-icon_zip {
      position: relative;
      left: 3px;
      margin-left: 2px; }
  .a-tickets__ticket-event {
    color: #8894a5;
    font-size: .75em; }
  .a-tickets__ticket-outcome {
    color: #fff;
    font-size: 13px;
    font-weight: 500; }
  .a-tickets__ticket-price {
    margin-right: 62px;
    margin-left: auto;
    color: #2cb0ff;
    font-size: .8125em; }
    @media (min-width: 1680px) {
      .a-tickets__ticket-price {
        margin-right: 78px; } }
  .a-tickets__ticket-amount {
    min-width: 74px;
    text-align: right;
    color: #fff;
    font-size: .8125em; }
  .a-tickets__ticket-row {
    display: flex;
    align-items: center;
    height: 18px; }

.hidden,
[hidden] {
  display: none !important; }

@-ms-viewport {
  width: device-width; }

@media (max-width: 557px) {
  .hidden-xss {
    display: none !important; } }

@media (min-width: 558px) and (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1399px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1400px) and (max-width: 1679px) {
  .hidden-lg {
    display: none !important; } }

@media (min-width: 1680px) {
  .hidden-xlg {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-lt-md {
    display: none !important; } }

@media (max-width: 1399px) {
  .hidden-lt-lg {
    display: none !important; } }

@media (max-width: 1679px) {
  .hidden-lt-xlg {
    display: none !important; } }

@media (min-width: 1400px) {
  .hidden-gt-md {
    display: none !important; } }

.invisible {
  visibility: hidden; }

.a-vip-icon {
  text-transform: none;
  font-family: "Vip Icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  speak: none; }

.a-vip-icon_next:before {
  content: '\e900'; }

.a-vip-icon_send:before {
  content: '\e901'; }

.a-vip-icon_phone:before {
  content: '\e902'; }

.a-vip-icon_info:before {
  content: '\e903'; }

.a-vip-icon_calendar:before {
  content: '\e904'; }

.a-vip-icon_delete-line:before {
  content: '\e905'; }

.a-vip-icon_return-line:before {
  content: '\e906'; }

.a-vip-icon_order:before {
  content: '\e907'; }

.a-vip-icon_timer:before {
  content: '\e908'; }

.a-vip-icon_close:before {
  content: '\e909'; }

.a-vip-icon_zip:before {
  content: '\e90a'; }

.a-vip-icon_double-quote:before {
  content: '\e90b'; }

.a-vip-icon_one-quote:before {
  content: '\e90c'; }

.a-vip-icon_new-tab:before {
  content: '\e90d'; }

.a-vip-icon_parlay-add:before {
  content: '\e90e'; }

.a-vip-icon_position:before {
  content: '\e90f'; }

.a-vip-icon_checkmark:before {
  content: '\e910'; }

.a-vip-icon_favourites-default:before {
  content: '\e911'; }

.a-vip-icon_favourites-select:before {
  content: '\e912'; }

.a-vip-icon_hockey:before {
  content: '\e913'; }

.a-vip-icon_tennis:before {
  content: '\e914'; }

.a-vip-icon_american-football:before {
  content: '\e915'; }

.a-vip-icon_sports-baseball:before {
  content: '\e916'; }

.a-vip-icon_sports-soccer:before {
  content: '\e917'; }

.a-vip-icon_logout:before {
  content: '\e918'; }

.a-vip-icon_arrow-dropdown:before {
  content: '\e919'; }

.a-vip-icon_show-available-funds:before {
  content: '\e91a'; }

.a-vip-icon_hide-available-funds:before {
  content: '\e91b'; }

.a-vip-icon_home:before {
  content: '\e91c'; }

.a-vip-icon_back:before {
  content: '\e91d'; }

.a-vip-icon_search:before {
  content: '\e91e'; }
