@import '../common/styles/base';

.a-modal-notification {
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: $modal-notification-padding;
    width: $modal-notification-width;
    min-height: $modal-notification-height;

    border-radius: inherit;
    background-color: $modal-notification-bg;

    &__icon {
        color: $modal-notification-error-icon-color;

        font-size: $modal-notification-icon-size;
    }

    &__title {
        margin: $modal-notification-vertical-margin 0;

        color: $modal-notification-title-text-color;

        font-family: $font-secondary;
        font-size: $modal-notification-title-text-size;
    }

    &__message {
        padding: 0 $modal-notification-message-horizontal-padding;

        text-align: center;
        letter-spacing: $modal-notification-message-letter-spacing;

        color: $modal-notification-message-text-color;

        font-size: $modal-notification-message-text-size;
        line-height: $modal-notification-message-line-height;
    }

    &__btn-close {
        position: absolute;
        top: $modal-notification-btn-close-position;
        right: $modal-notification-btn-close-position;

        color: $modal-notification-btn-close-color;

        font-size: $modal-notification-btn-close-size;

        &:hover {
            cursor: pointer;
        }
    }

    &__btn-action {
        display: flex;
        align-items: center;

        margin-top: $modal-notification-btn-action-mt;
        padding: 0 $modal-notification-btn-action-horizontal-padding;
        height: $modal-notification-btn-action-height;

        -webkit-user-select: none;

        color: $modal-notification-btn-action-text-color;
        border-radius: $modal-notification-btn-action-border-radius;
        background-color: $modal-notification-btn-action-bg;

        font-family: $font-secondary;
        font-size: $modal-notification-btn-action-text-size;
        font-weight: 500;

        &:hover {
            cursor: pointer;
        }
    }
}
