@import '../common/styles/base';

.a-modal {
    position: relative;
    z-index: -1;

    transition: opacity $common-transition;

    font-family: $font-primary;

    &_showed {
        z-index: 1;

        display: block;

        opacity: 1;
    }

    &_mode {
        &_fast-deal-bet {
            .a-modal__window_type_fast-deal-bet {
                width: auto;
                height: auto;

                opacity: 1;
            }
        }

        &_fast-deal-confirm {
            .a-modal__window_type_fast-deal-confirm {
                width: auto;
                height: auto;

                opacity: 1;
            }
        }

        &_notification {
            .a-modal__window_type_notification {
                width: auto;
                height: auto;

                opacity: 1;
            }
        }

        &_loader {
            .a-modal__loader {
                display: block;
            }
        }
    }

    &__overlay {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 100%;

        background-color: $modal-overlay-bg;
    }

    &__loader {
        display: none;

        width: $modal-loader-size;
        height: $modal-loader-size;
    }

    &__window {
        display: flex;
        overflow: hidden;

        width: 0;
        height: 0;

        transition: all $common-transition;

        opacity: 0;
        border-radius: $modal-window-border-radius;
        background: $modal-window-bg;
    }
}
