@mixin font-face-modern(
    $filename,
    $font-family,
    $path-to-font: $path-to-fonts,
    $font-weight: normal,
    $font-style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $font-weight;
        font-style: $font-style;

        src: url('#{$path-to-font}/#{$filename}.woff2') format('woff2'),
        url('#{$path-to-font}/#{$filename}.woff') format('woff'),
        url('#{$path-to-font}/#{$filename}.ttf') format('truetype');
    }
}
