@import '../common/styles/base';

.a-collapse-group {
    background-color: #323744;

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 11px;
        height: 44px;
    }

    &__header-counter {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 12px;
        width: 22px;
        height: 22px;

        color: #fff;
        border-radius: 19px;
        background-color: #4d5868;

        font-family: $font-secondary;
        font-size: .6875em;
        font-weight: 500;
    }

    &__header-title {
        letter-spacing: .1px;
        text-transform: uppercase;

        color: #bac9db;

        font-family: $font-secondary;
        font-size: .75em;
        font-weight: 500;
    }

    &__header-btn-expand {
        margin-right: 5px;
        margin-left: auto;

        transition: all $common-transition;
        transform: rotate(0);

        color: #bac9db;

        font-size: 12px;

        &:hover {
            cursor: pointer;
        }

        &_active {
            transform: rotate(180deg);
        }
    }

    &__content {
        height: 252px;
    }
}
