@import '../common/styles/base';

.a-event {
    display: flex;
    flex-direction: row;

    margin-top: $event-item-mt;
    padding: $event-item-vertical-padding $event-item-horizontal-padding-md $event-item-vertical-padding 0;

    @media (min-width: $screen-xlg-min) {
        padding-right: $event-item-horizontal-padding-xlg;
        padding-left: $event-item-horizontal-padding-xlg;
    }

    &:nth-of-type(odd) {
        background-color: $event-item-odd-bg;
    }

    &:nth-of-type(even) {
        background-color: $event-item-even-bg;
    }

    &_blur_on {
        &:nth-of-type(even) {
            background-color: $event-item-odd-bg;
        }

        .a-event__time-value {
            border-color: $event-blurred-color;
            background-color: $event-blurred-color;
        }

        .a-event-market__outcome-value {
            background-color: $event-blurred-color;
        }

        .a-event-market__individual-total {
            border-color: $event-blurred-color;

            &:hover {
                border-color: $event-blurred-color;
            }
        }

        .a-event-market__outcome-subtitle {
            top: $event-blurred-subtitle-indent-top;
        }

        .a-dropdown-twin-select {
            background-color: $event-blurred-color;
        }
    }

    &__id {
        color: $event-actions-id-text-color;
    }

    &__time {
        color: $event-actions-time-text-color;
    }

    &__actions {
        min-width: $event-actions-min-width;

        border-left: $event-column-border-width solid transparent;
    }

    &__outcomes {
        margin-right: 5px;
        margin-left: auto;

        color: $event-outcomes-text-color;

        font-family: $font-secondary;

        @media (min-width: $screen-lg-min) {
            margin-right: $event-outcomes-mr-lg;
        }

        @media (min-width: $screen-xlg-min) {
            margin-right: 0;

            font-size: $event-outcomes-text-size-xlg;
        }

        .a-event__empty-line {
            min-width: $event-blurred-empty-line-primary-min-width;

            &_num_2 {
                min-width: $event-blurred-empty-line-secondary-min-width;
            }
        }
    }

    &__outcomes-title {
        display: flex;
        justify-content: flex-end;

        height: $event-column-title-height;

        color: $event-column-title-text-color;

        font-family: $font-primary;
        font-size: $event-outcomes-title-text-size;

        .a-event__empty-line {
            min-width: 47%;
        }
    }

    &__outcomes-item {
        position: relative;

        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;

        margin-top: $event-column-row-margin-top;
        padding: 0;
        height: $event-column-row-height;

        text-align: right;

        font-size: $event-outcomes-text-size;

        @media (min-width: $screen-xlg-min) {
            font-size: $event-outcomes-text-size-xlg;
        }

        &_state_warning {
            color: $event-column-title-state-warning-color;
        }
    }

    &__actions-title {
        display: flex;
        justify-content: center;

        height: $event-column-title-height;

        color: $event-column-title-text-color;

        font-family: $font-primary;
        font-size: $event-actions-title-text-size;

        .a-event__empty-line {
            min-width: 47%;
        }
    }

    &__actions-line {
        position: relative;

        display: flex;
        align-content: center;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        margin-top: $event-column-row-margin-top;
        padding: 0 $event-column-row-horizontal-padding;
        height: $event-column-row-height;

        @media (min-width: $screen-xlg-min) {
            padding: 0 $event-column-row-horizontal-padding-xlg;
        }

        &_type_icons {
            flex-direction: row;

            height: $event-column-row-icons-height;

            font-size: $event-column-row-icons-size;
        }

        &_type_time {
            flex-direction: row;

            margin-top: $event-actions-margin-top;
            height: $event-actions-line-height;
        }
    }

    &__time-value {
        display: flex;
        align-items: center;
        justify-content: center;

        width: $event-actions-time-value-width;
        height: $event-actions-time-value-height;

        color: $event-actions-time-value-text-color;
        border: $event-actions-time-value-border-size solid $event-actions-time-value-border-color;
        border-radius: $event-actions-time-value-border-radius;

        font-size: $event-actions-time-value-text-size;

        &:hover {
            cursor: pointer;
        }

        &_active {
            border-color: $event-actions-time-value-active-border-color;
            background-color: $event-actions-time-value-active-bg;
        }

        &_type_extra {
            position: relative;
        }
    }

    &__empty-line {
        min-width: $event-empty-line-min-width;
        height: $event-empty-line-default-height;

        border-radius: $event-empty-line-border-radius;
        background-color: $event-blurred-color;

        &_size_big {
            height: $event-empty-line-big-height;
        }
    }
}
