@import '../common/styles/base';

.a-notification {
    position: fixed;
    z-index: 2;
    bottom: $notification-position-bottom;

    display: flex;

    width: $notification-width;
    overflow: hidden;

    opacity: $notification-bar-opacity;

    font-size: $notification-bar-text-size;
    transition: $common-transition;

    &_hidden {
        height: 0;
        bottom: $notification-hidden-position-bottom;
    }

    &__bar {
        display: flex;
        align-items: center;

        margin: $notification-bar-margin;
        padding: 0 $notification-bar-horizontal-padding;
        width: $notification-bar-width-md;
        height: $notification-bar-height;

        @media (min-width: $screen-lg-min) {
            width: $notification-bar-width-lg;
        }

        @media (min-width: $screen-xlg-min) {
            width: $notification-bar-width-xlg;
        }

        &_mode {
            &_info {
                background-color: $notification-bar-mode-info;
            }

            &_danger {
                background-color: $notification-bar-mode-danger;
            }

            &_success {
                background-color: $notification-bar-mode-success;
            }
        }
    }

    &__left-side {
        width: $notification-left-side-width-md;
        height: $notification-bar-height;;

        @media (min-width: $screen-lg-min) {
            width: $notification-left-side-width-lg;
        }

        @media (min-width: $screen-xlg-min) {
            width: $notification-left-side-width-xlg;
        }
    }

    &__right-side {
        width: $notification-right-side-width-md;
        height: $notification-bar-height;

        @media (min-width: $screen-lg-min) {
            width: $notification-right-side-width-lg;
        }

        @media (min-width: $screen-xlg-min) {
            width: $notification-right-side-width-xlg;
        }
    }

    &__title {
        color: $notification-bar-title-color;

        font-family: $font-secondary;
    }

    &__message {
        margin: 0 $notification-bar-title-horizontal-margin;

        color: $notification-bar-text-color;

        font-weight: 500;
    }

    &__btn-close {
        margin-left: auto;

        color: $notification-bar-close-color;

        &:hover {
            cursor: pointer;
        }
    }
}
